# Ignore dependencies in ANY folder
**/node_modules/
**/bower_components/

# Ignore builds in ANY folder
**/.next/
**/build/
**/dist/
**/out/

# Ignore Python garbage
**/__pycache__/
**/*.py[cod]
**/venv/
**/.venv/

# Environment variables (Secrets)
.env
.env.local
**/.env
**/.env.local

# Misc
.DS_Store
.vercel